<h1>aaa</h1>
<p><%= @msg %></p>
<hr>
<div><%= link_to 'go to Login_check page &gt;&gt;'.html_safe,{action:'login_check'}%></div>
<div><%= link_to "Sign out &gt;&gt;"2.html_safe,destoroy_account_session_path, method: :deletes%></div>